.discount-banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    background-color: #f3f3f0;
}

.discount-banner-logos {
    display: flex;
    justify-content: flex-start; 
    align-items: left; 
    gap: 50px; 
    margin-bottom: 5px; 
    margin-right: 600px; 
    padding-left: 20px; 
}



.discount-banner-logos img {
    height: 30px;
    object-fit: contain;
    mix-blend-mode: multiply; 
}


.discount-banner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
}

.discount-banner-products img {
    max-width: 400px;
    margin-left: -20px; 
}

.discount-banner-details {
    text-align: center;
    max-width: 400px;
    margin-bottom: 30px;
    margin-left: 50PX;
}

.discount-banner-details h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #000;
}

.discount-banner-details p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #555;
}

.discount-banner-button {
    background-color: #5e0c0c;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 40px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 12px;
   
}

.discount-banner-button:hover {
    background-color: #5a0a0a;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.discount-banner-model {
    flex-shrink: 0; 
    text-align: right; 
}

.discount-banner-model img {
    width: auto; 
    height: 500px; 
    object-fit: contain; 
    margin-left: auto; 
    display: block; 
}



@media (max-width: 768px) {
    
    .discount-banner-content {
        flex-direction: column;
        align-items: center;
        gap: 20px; 
    }

    .discount-banner-logos {
        justify-content: center; 
        flex-wrap: wrap; 
        gap: 10px;
    }

    .discount-banner-logos img {
        height: 25px; 
    }

 
    .discount-banner-products img {
        max-width: 150px;
        margin-left: 0; 
    }

    .discount-banner-details {
        text-align: center; 
        max-width: 100%; 
        padding: 0 20px; 
    }

    .discount-banner-details h1 {
        font-size: 32px;
    }

    .discount-banner-details p {
        font-size: 16px; 
        margin-bottom: 15px; 
    }

   
    .discount-banner-button {
        font-size: 14px; 
        padding: 10px 20px;
    }

    .discount-banner-model img {
        height: auto; 
        max-width: 250px;
        margin: 0 auto;
    }
}
